.logo-button {
	text-align: center;
}
.logo-button button {
	cursor: pointer;
	background: transparent;
	border: none;
	padding: 0;
	width: 100%;
	padding: 24px;
}
.logo-button img {
	width: 100%;
	height: auto;
}
.button:disabled {
	pointer-events: none;
	opacity: 0.6;
}
.trial-button button,
.button {
	flex: 0 0 auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	outline: none;
	padding: 6px 28px;
	border-radius: 2px;
	font-family: Roboto, Arial, Tahoma, Verdana, sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 500;
	text-transform: uppercase;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	cursor: pointer;

	background: #0288d1;
	color: #fff;
	border-radius: 32px;
	text-decoration: none;
	transition: background 0.2s ease-in-out;
}
.trial-button button:hover,
.button:hover {
	background: #35a0da !important;
}
.trial-button button:focus,
.button:focus {
	outline: none;
}
.button.button--bordered {
	background: #fff;
	color: #027abc;
	border: 2px solid #027abc;
}
.hgroup {
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 24px;
	background-color: #fff;
	color: rgba(0, 0, 0, 0.7);
	transition: background-color 0.2s ease;
	min-height: calc(100vh - 60px);
}
.hgroup a {
	cursor: pointer;
	text-decoration: none;
	display: block;
	color: #0288d1;
	margin-bottom: 12px;
}
.hgroup .anchor {
	display: none;
	width: 22px;
	height: 22px;
	position: absolute;
	margin-bottom: 0;
	top: 50%;
	right: 0;
	opacity: 0;
	transition: opacity 0.2s ease-in;
	transform: translateY(-50%);
}
.hgroup p {
	margin: 0;
	margin-bottom: 24px;
}
.hgroup h3:not([class*="dhx_"]) {
	margin-top: 0;
	padding: 0 30px;
	position: relative;
	display: inline-block;
}
.hgroup h3:hover .anchor {
	opacity: 1;
}
.dhx_navbar-title.dhx_navbar-title--toolbar {
	font-size: 18px;
	margin-right: 12px !important;
}
.active {
	background-color: rgba(0, 0, 0, 0.07);
}
.dock-button button {
	cursor: pointer;
	border: none;
	border-radius: 32px;
	font-size: 14px;
	text-decoration: underline;
	font-family: Roboto;
	color: #0288d1;
	background-color: #fff;
}
.dock-button button:focus {
	outline: none;
}
.data-form-buttons button {
	margin: 20px;
}
.button:not(:last-child) {
	margin-right: 20px;
}
main {
	width: 100%;
	height: calc(100vh - 57px);
	overflow: auto;
	display: flex;
	flex-direction: column;
	scroll-snap-type: y mandatory;
}
main > section {
	scroll-snap-align: start;
}
