.dhx_dataview-item:hover::after {
    opacity: 1;
}
.dhx_dataview-item::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.app-card__inner {
    cursor: pointer;
    position: relative;
}
.app-card__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}
.app-card__inner:hover {
    background-size: 65px;
}
.app-card__header {
    position: absolute;
    left: 50%;
    bottom: 0px;
    margin-bottom: 20px;
    color: #03A9F4;
    transform: translateX(-50%)
}