@import url("https://fonts.googleapis.com/css?family=Roboto");

html,
body,
#app {
	min-height: 100%;
	padding: 0px;
	margin: 0px;
	font-family: Roboto;
}
.app-box {
	padding: 20px;
}
.widget-box {
	width: 440px;
	height: 320px;
}
